.section-title {
    font-family: 'Banny Round';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    &_white {
    color: #ffffff;
    }

    &:after {
        display: block;
        margin: 0 auto;
        content: '';
        width: 60px;
        height: 5px;
        background: #E8C300;
        border-radius: 50px;
    }
}

.section-subtitle {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    &_white {
        color: #ffffff;
        }
}

.section-descr {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #000000;
    line-height: 1.71;
    &_white {
        color: #ffffff;
        }
}

.label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 6px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}